<section id="social-links">
  <a href="https://www.linkedin.com/in/srsmaurya" target="_blank">
    <img src="assets/icons/twitter.svg" alt="" />
  </a>
  <a href="https://www.linkedin.com/in/srsmaurya" target="_blank">
    <img src="assets/icons/linkedin.svg" alt="" />
  </a>
  <a href="https://www.linkedin.com/in/srsmaurya" target="_blank">
    <img src="assets/icons/github.svg" alt="" />
  </a>
  <a href="https://github.com/sharadcodes" target="_blank">
    <img src="assets/icons/envelope-fill.svg" alt="" srcset="" />
  </a>
</section>
